<h2>Score: {{ score }}</h2>

<div class="cards-container">
  <div *ngFor="let card of cards; index as i">
    <!--  CARD -->
    <div class="card">
      <div
        class="card-content"
        (click)="onCardClicked(i)"
        [ngClass]="{ front: cardsAreFlipped[i], back: !cardsAreFlipped[i] }"
      >
        {{ card.name }}
      </div>
    </div>
  </div>
</div>

<div class="cards-container">
  <span *ngFor="let cif of cardsAreFlipped">{{ cif }},</span>
</div>

<div class="cards-container">
  <span *ngFor="let i of selectedCardIndexes">{{ i }},</span>
</div>


<!--<p>A variável deckId (sendo capturada da URL) é: {{ deckId }}</p>-->
<!--<p>O 'deckName' (um dos atributos do Objeto 'Deck') é: {{ deck?.name }}</p>-->
<!--<pre>O 'cardPairs' (um dos atributos do Objeto 'Deck') é: {{ this.cardPairs }}</pre>-->


