.card {
  height: 50px;
  width: 50px;
  padding: 8px;
  font-size: 14px;
}

.card-content {
  width: 100%;
  height: 100%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.front {
  background-color: lightblue;
}

.back {
  background-color: lightsalmon;
}

.selected {
  background-color: gray;
}
