//CSS da div que engloba os scores no topo do jogo:
.scores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 1rem;
}

.scores h2 {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}

.scores h2 span {
  font-weight: bold;
}

//CSS do container que engloba o jogo inteiro
.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

//CSS do container que engloba todas as cartas
.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

//CSS específico do card
.card {
  height: 175px;
  width: 175px;
  padding: 8px;
  font-size: 14px;
  border: black solid 1px;
  margin: 2px;

  perspective: 1000px;
}

//CSS das imagens internas do card, o conteúdo do card
.card-content {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  transform-style: preserve-3d;
  transition: transform 0.6s;
}

//CSS da carta virada para cima (não é usado mais)
//.front {
//  //background-color: lightblue;
//}

//CSS da carta virada para baixo
.back {
  background-color: lightsalmon;
  transform: rotateY(180deg);
}

//CSS da carta depois que ela é pontuada e "é retirada do jogo"
.selected {
  background-color: gray;
  border: 4px solid #800080; /* Borda roxa de 4 pixels */
  box-shadow: 0 0 20px #800080; /* Sombra roxa com desfoque de 20 pixels */
}


//CCS do botão de restart abaixo
.btn-restart {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-restart:hover {
  background-color: #fff;
  color: #007bff;
}

//POPUP DA IMAGEM DE "ERRRROOUUU"
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup img {
  max-width: 100%;
  max-height: 100%;
}




