
<p>A variável deckId (sendo capturada da URL) é: {{deckId}}</p>

<p>O 'deckName' (um dos atributos do Objeto 'Deck') é: {{deck?.name}}</p>

<pre>O 'cardPairs' (um dos atributos do Objeto 'Deck') é: {{this.cardPairs}}</pre>

<p>As cartas presentes dentro deste nosso deck de id '1' são as seguintes: </p>



<div *ngFor='let card of cards; index as i'>
      <!--  CARD -->
      <div class="card">
        <div
          class="card-content"
          (click)="flipCard(i)"
          [ngClass]="{'front': cardIsFlipped[i] , 'back': !cardIsFlipped[i]}">
          {{card.name}}
        </div>
      </div>
</div>


<!--TODO: CRIE OS CARDS AQUI, PEGANDO OS ITENS DO DECK E MOSTRANDO O NOME DE CADA UM -->
