<p>deck-screen works!</p>

<div *ngIf="deckService.getDeckById('1') as deck" class="pb-[80px] pt-[80px]">
  <h3>O deck é: {{deck.toString()}}</h3>
</div>

<div *ngIf="deckString as deck" class="pb-[80px]">
  <h3>O deck é: {{deck}}</h3>
</div>

<div *ngIf="cardPairString as cardPair" class="pb-[80px]">
  <h3>O cardPair é: {{cardPair}}</h3>
  <h3>O cardPair é: {{cardPairString2}}</h3>
</div>

<div *ngIf="cardString as card" class="pb-[80px]">
  <h3>O card é: {{card}}</h3>
  <h3>O card é: {{cardString2}}</h3>
</div>
