<div class="bg-gray-200 px-8 py-8 sm:px-36 sm:py-20">
  <div class="sm:flex sm:flex-row">
    <div class="w-full sm:w-1/2">
      <div class="sm:flex sm:flex-row sm:justify-between">
        <div class="sm:w-1/2">
          <img style="width: 50px; height: 50px;" src="{{ logo }}" alt="Logo Memory" />
          <p class="text-base leading-6 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet consequuntur necessitatibus officia quis tempore?</p>
        </div>
        <div class="sm:w-1/2">
          <h3 class="text-lg font-medium text-gray-900">Por que jogar Memória?</h3>
          <div class="mb-2">
            <a class="text-base font-medium text-gray-700" href="#">Vantagens para o profissional</a>
          </div>
          <div>
            <a class="text-base font-medium text-gray-700" href="#">Vantagens para o dono do espaço</a>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full sm:w-1/2">
      <div class="sm:flex sm:flex-row sm:justify-between">
        <div class="sm:w-1/2">
          <h3 class="text-lg font-medium text-gray-900">Sobre nós</h3>
          <div class="mb-2">
            <a class="text-base font-medium text-gray-700" href="#">Conheça o jogo da Memória</a>
          </div>
          <div class="mb-2">
            <a class="text-base font-medium text-gray-700" href="#">Conheça a diversão</a>
          </div>
          <div>
            <a class="text-base font-medium text-gray-700" href="#">Regiões atendidas</a>
          </div>
        </div>
        <div class="sm:w-1/2">
          <h3 class="text-lg font-medium text-gray-900">Atendimento</h3>
          <div class="mb-2">
            <a class="text-base font-medium text-gray-700" href="#">Central de ajuda</a>
          </div>
          <div class="mb-2">
            <a class="text-base font-medium text-gray-700" href="#">Política de privacidade</a>
          </div>
          <div class="mb-2">
            <a class="text-base font-medium text-gray-700" href="#">Informações de segurança</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
