
<div class="header">
  <div class="sides">
    <a href="#" class="logo">BLOG</a>
  </div>
  <div class="sides"> <a href="#" class="menu"> </a></div>

  <div class="">
    <div class="info">
      <h4 class="pb-4"><a class="intro" href="#category">Do you want a relaxing and fun way to train your mind?</a></h4>
      <h1 class="wellcome">WELCOME TO THE MEMORY GAME!</h1>
      <div class="meta pt-8">
        <a  href="https://twitter.com/nodws" target="_b" class="author"></a><br>
        By <a href="https://twitter.com/nodws" target="_b">DDS</a> from Braazil.  Summer, 2023
      </div>
    </div>
  </div>

</div>


<section class="pb-8">
  <div class="flex gap-32 mt-14 ml-48">
    <div class="pt-20">
      <p class="paragraph m-4 rounded-lg border border-gray-400 h-[425px] w-[350px] bg-white mx-4">
        This fun and entertaining game is an excellent way to train your mind and improve your memory skills.
        <br> <br> Whether
        you're looking for a relaxing and enjoyable way to pass the time or you're interested in improving your cognitive
        abilities, this game has something for everyone. <br> <br> With its engaging gameplay and challenging puzzles, you'll find
        yourself fully absorbed as you test your memory and try to match pairs of cards.  <br> <br> So why not give it a try and see
        how your brain skills measure up? You never know, you might just surprise yourself!
      </p>
    </div>

    <div class="content h-[750px] w-[800px] "></div>
  </div>

  <button id="reload">ENOUGH OF THIS BULLSHIT AND LET'S PLAY ALREADY! :)</button>

  <p align="center"><a href="https://twitter.com/nodws" class="btn twtr" target="_b">Follow me on Twitter</a></p>
</section>
