<p>LINK DOS FFLIPPING CARDS DO PEN CODE: https://codepen.io/shahidshaikhs/pen/mZMrGW</p>

<!--FIRST CARD ABOVE -->

<div class="grids">
  <div class="card-one">
    <div class="card">
      <div class="card__side card__side--front" id="front-1">
        <div class="text-box">
          <h3 class="text-box-top">Flipping Cards</h3>
          <h1 class="text-box-middle">Awesome!</h1>
          <h3 class="text-box-lower">--- More Text ---</h3>
        </div>
      </div>
      <div class="card__side card__side--back" id="back-1">
        <div class="text-box">
          <h3 class="text-box-top">Cards Flipped</h3>
          <h1 class="text-box-middle">Great!</h1>
          <h3 class="text-box-lower">--- More Text ---</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<br><hr><br>

<!-- SECOND CARD ABOVE: -->

<div class="mt-80">
  <div class="card-container">
    <!--  CARD -->
    <div class="card">

      <!--    FRONT OF THE CARD -->
      <div class="front">
        Front of the card
      </div>
      <!--    BACK OF THE CARD -->
      <div class="back">
        Back of the card
      </div>

    </div>
  </div>
</div>

